<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>어린 왕자</title>
    <link rel="stylesheet" href="./travel.css">
    <script src="./travel.js" defer></script>
    <script src="https://kit.fontawesome.com/b0f29e9bfe.js" crossorigin="anonymous"></script>
</head>
<body>
    <video id="videoBG" autoplay muted loop>
        <source src="밤하늘.mp4" type="video/mp4">
    </video>
    <!--
    <div class="anchor1">
        <button class="movePage" type="button" onclick="location.href='./index.html' ">1부</button>
        <button class="movePage"type="button" onclick="location.href='./index2.html' ">2부</button>
        <button class="movePage"type="button" onclick="location.href='./index3.html' ">3부</button>
        <button class="movePage"type="button" onclick="location.href='./index4.html' ">4부</button>
        <button class="movePage"type="button" onclick="location.href='./index5.html' ">5부</button>
        <button class="movePage"type="button" onclick="location.href='./index6.html' ">6부</button>
        <button class="movePage"type="button" onclick="location.href='./index7.html' ">7부</button>
        <button class="movePage"type="button" onclick="location.href='./index8.html' ">8부</button>
    </div>
    -->
    <!--1장: 어린왕자와 만남(1~6) / 2장: 장미(7~9) / 3장: 소행성 여행(10~16) /4장: 지구에서의 여행(17~23) / 5장: 이별(24~27)-->
    <div class="navigation">
        <div class="menuToggle"></div>
        <ul>
            <li class="list" style="--clr:#f44336;">
                <a href="../../index.html">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="text">홈</span>
                </a>
            </li>
            <li class="list" style="--clr:#ffa117;">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="person-outline"></ion-icon>
                    </span>
                    <span class="text">마이 페이지</span>
                </a>
            </li>
            <li class="list" style="--clr:#0fc70f;">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="balloon-outline"></ion-icon>
                    </span>
                    <span class="text">여행하기</span>
                </a>
            </li>
            <li class="list" style="--clr:#2196f3;">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="square-outline"></ion-icon>
                    </span>
                    <span class="text">광장</span>
                </a>
            </li>
            <li class="list" style="--clr:#b145e9;">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="help-circle-outline"></ion-icon>
                    </span>
                    <span class="text">묻고 답하기</span>
                </a>
            </li>
        </ul>
    </div>



    <div class="tooltip">
        <ul>
            <li>
                <div class="imagebox">
                    <image src="../../illustrate/1.jpg" style="width:100px; height:100px; border-radius: 25%;"></image>
                </div>
                <div class="content">
                    <div class="blog-post__img">
                        <img src="../../illustrate/1.jpg">
                    </div>
                    <div class="blog-post__info">
                        <div class="blog-post__date">
                            <span>Chapter 1</span>
                            <span>실제 페이지수</span>
                        </div>
                        <h1 class="blog-post__title">제목</h1>
                        <p class="blog-post__text">
                            줄거리 요약.<br>
                            1번째 줄 글자 수는 여기까지이다<!--딱 여기까지.--><br>
                            2번째 줄 글자 수는 여기까지이다<!--딱 여기까지.--><br>
                            3번째 줄 글자 수는 여기까지이다<!--딱 여기까지.--><br>
                            4번째 줄 글자 수는 여기까지이다<!--딱 여기까지.--><br>
                            5번째 줄 글자 수는 여기까지이다<!--딱 여기까지.--><br>
                            6번째 줄 글자 수는 여기까지이다<!--딱 여기까지.--><br>
                            7번째 줄 글자 수는 여기까지이다<!--딱 여기까지.--><br>
                        </p>
                        <a href="../../1장/firstChapter.html" class="blog-post__cta">여행하기</a>
                    </div>   
                </div>
            </li>
            <li>
                <div class="imagebox">
                    <image src="../../illustrate/2.jpg" style="width:100px; height:100px; border-radius: 25%;"></image>
                </div>
                <div class="content2">
                    <div class="blog-post__img">
                        <img src="../../illustrate/2.jpg">
                    </div>
                    <div class="blog-post__info">
                        <div class="blog-post__date">
                            <span>2번째</span>
                            <span>2022 - 02 -13</span>
                        </div>
                        <h1 class="blog-post__title">제목1</h1>
                        <p class="blog-post__text">
                            여기에 내용이 들어가야 합니다.여기에 내용이 들어가야합니다.<!--딱 여기까지.-->
                            여기에 내용이 들어가야 합니다.여기에 내용이 들어가야 합니다.
                            여기에 내용이 들어가야 합니다.
                            <br />
                            <br />
                            여기에 내용이 들어가야 합니다.
                        </p>
                        <a href="../../2장/secondChapter.html" class="blog-post__cta">여행하기</a>
                    </div>   
                </div>
            </li>
            <li>
                <div class="imagebox">
                    <image src="../../illustrate/3.jpg"" style="width:100px; height:100px; border-radius: 25%;"></image>
                </div>
                <div class="content3">
                    <div class="blog-post__img">
                        <img src="../../illustrate/3.jpg">
                    </div>
                    <div class="blog-post__info">
                        <div class="blog-post__date">
                            <span>3번째</span>
                            <span>2022 - 02 -13</span>
                        </div>
                        <h1 class="blog-post__title">제목1</h1>
                        <p class="blog-post__text">
                            여기에 내용이 들어가야 합니다.여기에 내용이 들어가야합니다.<!--딱 여기까지.-->
                            여기에 내용이 들어가야 합니다.여기에 내용이 들어가야 합니다.
                            여기에 내용이 들어가야 합니다.
                            <br />
                            <br />
                            여기에 내용이 들어가야 합니다.
                        </p>
                        <a href="../../3장/thirdChapter.html" class="blog-post__cta">여행하기</a>
                    </div>   
                </div>
            </li>
            <li>
                <div class="imagebox">
                    <image src="../../illustrate/4.jpg" style="width:100px; height:100px; border-radius: 25%;"></image>
                </div>
                <div class="content4">
                    <div class="blog-post__img">
                        <img src="../../illustrate/4.jpg">
                    </div>
                    <div class="blog-post__info">
                        <div class="blog-post__date">
                            <span>4번째</span>
                            <span>2022 - 02 -13</span>
                        </div>
                        <h1 class="blog-post__title">제목1</h1>
                        <p class="blog-post__text">
                            여기에 내용이 들어가야 합니다.여기에 내용이 들어가야합니다.<!--딱 여기까지.-->
                            여기에 내용이 들어가야 합니다.여기에 내용이 들어가야 합니다.
                            여기에 내용이 들어가야 합니다.
                            <br />
                            <br />
                            여기에 내용이 들어가야 합니다.
                        </p>
                        <a href="../../4장/fourthChapter.html" class="blog-post__cta">여행하기</a>
                    </div>   
                </div>
            </li>
            <li>
                <div class="imagebox">
                    <image src="../../illustrate/5.jpg" style="width:100px; height:100px; border-radius: 25%;"></image>
                </div>
                <div class="content5">
                    <div class="blog-post__img">
                        <img src="../../illustrate/5.jpg">
                    </div>
                    <div class="blog-post__info">
                        <div class="blog-post__date">
                            <span>5번째</span>
                            <span>2022 - 02 -13</span>
                        </div>
                        <h1 class="blog-post__title">제목1</h1>
                        <p class="blog-post__text">
                            여기에 내용이 들어가야 합니다.여기에 내용이 들어가야합니다.<!--딱 여기까지.-->
                            여기에 내용이 들어가야 합니다.여기에 내용이 들어가야 합니다.
                            여기에 내용이 들어가야 합니다.
                            <br />
                            <br />
                            여기에 내용이 들어가야 합니다.
                        </p>
                        <a href="../../5장/fifthChapter.html" class="blog-post__cta">여행하기</a>
                    </div>   
                </div>
            </li>
        </ul>
    </div>
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>